.venv
*.egg-info/
*.parquet
*.db
tmp*
__pycache__
target/
dbt_packages/
logs/
*.duckdb
*.env
**/.logs_queue
**/.nux
**/.telemetry
**/history
**/schedules
**/storage
dbt/postcard_company/*

# Keeps
!geography.csv
!dashboard.json